.button {
    -fx-font-weight: bold;
}

#AnchorPane {
	-fx-background-color: #A3CDFF;
}
.menu-bar {
    -fx-background-color: #ff0066(#1d1d1d,90%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-weight: bolder;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.menu-item .label {
     #-fx-background-color: #A3CDFF;
     -fx-text-fill: black;
     -fx-font-size: 10pt;
    -fx-font-weight: bolder;
    -fx-font-family: "Arial Black";
}

.menu-item:focused {
     -fx-background-color: while;
}


.menu-item:focused .label {
    -fx-text-fill: blue;
}
